<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home Page{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Salut  tous le monde</h1>
            <p>This is the main content of the home page.</p>
        {% endblock %}
    </body>
</html>