api_platform:
    title: Hello API Platform
    version: 1.0.0
    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
    swagger:
        versions: [3]
    enable_docs: true
    formats:
        jsonld: ['application/ld+json']
        json: ['application/json']
        html: ['text/html']
